<div class="contenedor-asignacion">

  <!-- ===================================================== -->
  <!-- HEADER -->
  <!-- ===================================================== -->

  <mat-card class="card-header">
    <div class="header-top">
      <div>
        <h2>
          Gestión de Material
        </h2>
        <p>
          Registro de salidas, devoluciones, daños y pérdidas
        </p>
      </div>

      <button mat-raised-button color="primary" (click)="toggleFormulario()">
        <mat-icon>
          add
        </mat-icon>
        Nuevo Movimiento
      </button>
    </div>
  </mat-card>

  <!-- ===================================================== -->
  <!-- FORMULARIO -->
  <!-- ===================================================== -->

  <mat-card *ngIf="mostrarFormulario" class="card-formulario">
    <h3>
      Registrar Movimiento
    </h3>
    <form [formGroup]="asignacionForm">
      <div class="grid-form">

        <!-- ===================================== -->
        <!-- TIPO MOVIMIENTO -->
        <!-- ===================================== -->

        <mat-form-field appearance="outline">
          <mat-label> Tipo Movimiento </mat-label>
          <mat-select formControlName="tipoMovimiento">
            <mat-option value="SALIDA"> SALIDA</mat-option>
            <mat-option value="DEVOLUCION"> DEVOLUCIÓN </mat-option>
            <mat-option value="DANADO"> DAÑADO </mat-option>
            <mat-option value="PERDIDA"> PÉRDIDA </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="row g-3 align-items-center">

          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label> Material </mat-label>
              <input type="text" matInput formControlName="loteMaterial" [matAutocomplete]="autoMaterial">
              <mat-autocomplete #autoMaterial="matAutocomplete" [displayWith]="mostrarLote"
                (optionSelected)="onLoteSeleccionado($event)">
                <mat-option *ngFor=" let lote of lotesMaterialFiltrados" [value]="lote">
                  {{ lote.tipo }} | {{ lote.nombre }} | Stock: {{ lote.stock }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="col-md-2">
            <mat-form-field appearance="outline">
              <mat-label> Unidad </mat-label>
              <input matInput formControlName="unidad" placeholder="Ej: cajas, litros, unidades">
            </mat-form-field>
          </div>
          <div class="col-md-2">

            <mat-form-field appearance="outline" class="w-100">
              <mat-label> Cantidad </mat-label>
              <input matInput type="number" formControlName="cantidad" [max]="cantidadMateria "
                (blur)="listandoMaterial()">
            </mat-form-field>
          </div>

        </div>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Material</th>
                <th>Cantidad</th>
                <th>Unidad</th>
                <th>Opcion</th>
              </tr>
            </thead>
            <tbody>
              @for (material of listaMaterialAsignar; track $index) {
              <tr>
                <td>{{ material.nombre }}</td>
                <td>{{ material.cantidad }}</td>
                <td>{{ material.unidad }}</td>
                <td><button mat-icon-button color="warn" type="button" (click)="eliminarMaterialSeleccionado(material)">
                    <mat-icon>delete</mat-icon>
                  </button></td>
              </tr>
              }
            </tbody>
          </table>
        </div>


        <!-- ===================================== -->
        <!-- DESTINO -->
        <!-- ===================================== -->

        <mat-form-field appearance="outline">
          <mat-label> Destino </mat-label>
          <input matInput formControlName="destino" placeholder="Ej: Emergencia incendio">
        </mat-form-field>

        <!-- ===================================== -->
        <!-- EMERGENCIA -->
        <!-- ===================================== -->

        <mat-form-field appearance="outline">
          <mat-label> Emergencia </mat-label>
          <input type="text" matInput formControlName="id_emergencia" [matAutocomplete]="autoEmergencia">
          <mat-autocomplete #autoEmergencia="matAutocomplete" [displayWith]="mostrarEmergencia">
            <mat-option *ngFor="let e of listaFiltradoEmergencia" [value]="e">
              {{ e.id_emergencia }} - {{ e.nombrePersona }} - {{ e.direccion }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


      </div>

      <!-- ===================================== -->
      <!-- BOTONES -->
      <!-- ===================================== -->

      <div class="acciones-form">

        <button mat-raised-button color="primary" type="button" [disabled]="listaMaterialAsignar.length==0"
          (click)="guardarAsignacion()">

          <mat-icon> save </mat-icon>Guardar </button>

        <button mat-raised-button color="warn" type="button" (click)="limpiarFormulario()">
          <mat-icon> clear </mat-icon>Limpiar
        </button>

      </div>

    </form>

  </mat-card>

  <!-- ===================================================== -->
  <!-- TABLA -->
  <!-- ===================================================== -->

  <mat-card class="card-tabla">

    <!-- ===================================== -->
    <!-- BUSCADOR -->
    <!-- ===================================== -->

    <div class="tabla-header">

      <mat-form-field appearance="outline">

        <mat-label>
          Buscar movimiento
        </mat-label>

        <input matInput (keyup)="aplicarFiltroTabla($event)" placeholder="Buscar...">

        <mat-icon matSuffix>
          search
        </mat-icon>

      </mat-form-field>

    </div>

    <!-- ===================================== -->
    <!-- TABLA -->
    <!-- ===================================== -->

    <div class="tabla-container">

      <table mat-table [dataSource]="asignacionesSource" matSort>

        <!-- ================================= -->
        <!-- ID -->
        <!-- ================================= -->

        <ng-container matColumnDef="id">

          <th mat-header-cell *matHeaderCellDef>
            ID
          </th>

          <td mat-cell *matCellDef="let row">
            {{ row.id_registroMaterial }}
          </td>

        </ng-container>

        <!-- ================================= -->
        <!-- MATERIAL -->
        <!-- ================================= -->

        <ng-container matColumnDef="material">

          <th mat-header-cell *matHeaderCellDef>
            Material
          </th>

          <td mat-cell *matCellDef="let row">

            {{
            row.lotes?.[0]
            ?.loteMaterial?.tipo
            }}

            |

            {{
            row.lotes?.[0]
            ?.loteMaterial?.nombre
            }}

          </td>

        </ng-container>

        <!-- ================================= -->
        <!-- CANTIDAD -->
        <!-- ================================= -->

        <ng-container matColumnDef="cantidad">

          <th mat-header-cell *matHeaderCellDef>
            Cantidad
          </th>

          <td mat-cell *matCellDef="let row">

            {{row.lotes?.[0]?.cantidad }}

            {{ row.lotes?.[0]?.unidad}}

          </td>

        </ng-container>

        <!-- ================================= -->
        <!-- MOVIMIENTO -->
        <!-- ================================= -->

        <ng-container matColumnDef="tipoMovimiento">

          <th mat-header-cell *matHeaderCellDef>
            Movimiento
          </th>

          <td mat-cell *matCellDef="let row">
            {{ row.tipoMovimiento }}
          </td>

        </ng-container>

        <!-- ================================= -->
        <!-- DESTINO -->
        <!-- ================================= -->

        <ng-container matColumnDef="destino">

          <th mat-header-cell *matHeaderCellDef>
            Destino
          </th>

          <td mat-cell *matCellDef="let row">
            {{ row.destino }}
          </td>

        </ng-container>

        <!-- ================================= -->
        <!-- FECHA -->
        <!-- ================================= -->

        <ng-container matColumnDef="fecha">

          <th mat-header-cell *matHeaderCellDef>
            Fecha
          </th>

          <td mat-cell *matCellDef="let row">

            {{row.fecha_creacion| date:'dd/MM/yyyy HH:mm'}}

          </td>

        </ng-container>

        <!-- ================================= -->
        <!-- ESTADO -->
        <!-- ================================= -->

        <ng-container matColumnDef="estado">

          <th mat-header-cell *matHeaderCellDef>
            Estado
          </th>

          <td mat-cell *matCellDef="let row">
            {{ row.estado }}
          </td>

        </ng-container>

        <!-- ================================= -->
        <!-- ACCIONES -->
        <!-- ================================= -->

        <ng-container matColumnDef="acciones">

          <th mat-header-cell *matHeaderCellDef>
            Acciones
          </th>

          <td mat-cell *matCellDef="let row">

            <button mat-icon-button color="warn" (click)="eliminarAsignacion(row)">

              <mat-icon>
                delete
              </mat-icon>

            </button>

          </td>

        </ng-container>

        <!-- ================================= -->
        <!-- HEADER -->
        <!-- ================================= -->

        <tr mat-header-row *matHeaderRowDef=" columnasAsignacion">
        </tr>

        <!-- ================================= -->
        <!-- ROW -->
        <!-- ================================= -->

        <tr mat-row *matRowDef="let row;columns: columnasAsignacion ">
        </tr>

      </table>

    </div>

    <!-- ===================================== -->
    <!-- PAGINADOR -->
    <!-- ===================================== -->

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>

  </mat-card>

</div>